body {
    background: white;
    color: white;
    padding: 10px;url(https://greenlight.operationspark.org/sessions/kw8aF5Y4kjifL3GTF/projects/f4PiHbizg77ZLCe5A)
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #A5E1A6;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: #ffffff;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    color:#ffffff;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: #A5E1A6;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}



/* Portfolio styles */
.content h1 {
  color: rgb(255, 255, 255);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}